<!DOCTYPE html>
<html>
<head>
  <title>T-shirts</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<div class="row">
  <%= render partial: "layouts/template/navbar" %>
  <%= render partial: 'layouts/template/sidebar' %>
</div>
<%= yield %>
</body>
</html>
