<<nav class="navbar nav-layout navbar-expand-lg bg-info">
  <div class="container-fluid">
    <div class='navbar-header'>
      <h2>T-shirts</h2>
    </div>
    <ul class='nav navbar-nav navbar-right'>
      <li>
        <% if current_user %>
          <div>
            <%= link_to cart_path, class: 'btn btn-light' do %>
              <% if cart_total_quantity.zero? %>
                <span class='cart_quantity'><%= cart_total_quantity %></span>
              <% end %>
              Cart
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-light' do %>
              Log out
            <% end %>
          </div>
        <% else %>
          <div>
            <%= link_to new_user_registration_path, class: 'btn btn-light' do %>
              Sign Up
            <% end %>
            <%= link_to new_user_session_path, class: 'btn btn-light' do %>
              Sign In
            <% end %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

