<!doctype html>
<html lang="en" dir="ltr">
<head>
  <title>Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style>
  body {
      background-color: antiquewhite;
  }
</style>
</head>
<body>
  <div class="row-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <form action="/feed">
        <button type="submit" class="btn btn-primary">Feed</button>
    </form>
    <form action="/play">
        <button type="submit" class="btn btn-secondary">Play</button>
    </form>
    <form action="/clean">
        <button type="submit" class="btn btn-success">Clean</button>
    </form>
    <form action="/walk">
        <button type="submit" class="btn btn-danger">Walk</button>
    </form>
    <form action="/vet">
        <button type="submit" class="btn btn-warning">Take to vet</button>
    </form>
    <form action="/sleep">
        <button type="submit" class="btn btn-info">PutToBed</button>
    </form>
    <form action="/game_over">
      <button type="submit" class="btn btn-light">Exit</button>
    </form>
</div>
  <h3 class="text-center">Name:    <%= pet.name%></h3>
  <h3 class="text-center">Life:    <%= pet.life %></h3>
  <h3 class="text-center">Health:  <%= pet.health%></h3>
  <h3 class="text-center">Hunger:  <%= pet.hunger %></h3>
  <h3 class="text-center">Hygiene: <%= pet.hygiene %></h3>
  <h3 class="text-center">Fun:     <%= pet.fun %></h3>
  <h3 class="text-center">Energy:  <%= pet.energy %></h3>
</body>
</html>