<html>
<%= render('_head.html.erb') %>
<body>
  <div class="row-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <form action="/feed">
        <button type="submit" class="btn btn-primary">Feed</button>
    </form>
    <form action="/play">
        <button type="submit" class="btn btn-secondary">Play</button>
    </form>
    <form action="/clean">
        <button type="submit" class="btn btn-success">Clean</button>
    </form>
    <form action="/walk">
        <button type="submit" class="btn btn-danger">Walk</button>
    </form>
    <form action="/vet">
        <button type="submit" class="btn btn-warning">Take to vet</button>
    </form>
    <form action="/sleep">
        <button type="submit" class="btn btn-info">PutToBed</button>
    </form>
    <form action="/game_over">
      <button type="submit" class="btn btn-light">Exit</button>
    </form>
</div>
  <h3 class="text-center">Name:    <%= pet.name%></h3>
  <h3 class="text-center">Life:    <%= pet.life %></h3>
  <h3 class="text-center">Health:  <%= pet.health%></h3>
  <h3 class="text-center">Hunger:  <%= pet.hunger %></h3>
  <h3 class="text-center">Hygiene: <%= pet.hygiene %></h3>
  <h3 class="text-center">Fun:     <%= pet.fun %></h3>
  <h3 class="text-center">Energy:  <%= pet.energy %></h3>
</body>
</html>