<!doctype html>
<html lang="en" dir="ltr">
<head>
  <title>Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <div class="row">
    <form action="/feed">
        <button type="submit" class="btn btn-primary">Feed</button>
    </form>
    <form action="/play">
        <button type="submit" class="btn btn-secondary">Play</button>
    </form>
    <form action="/clean">
        <button type="submit" class="btn btn-success">Clean</button>
    </form>
    <form action="/walk">
        <button type="submit" class="btn btn-danger">Walk</button>
    </form>
    <form action="/vet">
        <button type="submit" class="btn btn-warning">Take to vet</button>
    </form>
    <form action="/sleep">
        <button type="submit" class="btn btn-info">PutToBed</button>
    </form>
</div>
  <h3>Life   <%= pet.life  %></h3>
  <h3>Health <%= pet.health%></h3>
  <h3>Hunger  <%= pet.hunger %></h3>
  <h3>Hygiene  <%= pet.hygiene %></h3>
  <h3>Fun  <%= pet.fun %></h3>
  <h3>Energy  <%= pet.energy %></h3>
</body>
</html>