<% if current_user %>
  <br>
  <h2>History of your orders:</h2>

  <% @orders.each do |order|%>
    <tr>
      <th><%= order.id %></th>
      <th><%= order.created_at %></th>
      <th><%= link_to 'View order', order_path(order) %></th>
    </tr>
    <br>
    <table class='table'>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Product price</th>
      </tr>
      <% order.cart.line_item.each_with_index do |line_item, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= image_tag image_url(line_item.product.image), height: 100, width: 100 %> </td>
          <td><%= line_item.product.name %></td>
          <td><%= line_item.quantity %></td>
          <td><%= number_to_currency line_item.price * line_item.quantity %></td>
          <td><%= button_to "delete", line_item_path(:id => line_item), method: :delete, class: "btn btn-dark" %></td>
          <td></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Order price:</b></td>
        <td><b><%= number_to_currency order.order_price %></b></td>
    </table>
  <% end %>
<% else %>
  <h3>Please Sign In or Sign Up!</h3>
<% end %>
